<div class="post">
    <article class="post-block">
        <h1 class="post-title">
            {{ title }}
        </h1>
        {{> postInfo }}
        <div class="post-content">
            {{{ content }}}
        </div>
    </article>
</div>